$primary-color: #C3002F;
$primary-color-hover: #9F151A;
$light-gray: #E6E6E6;
$gray: #666666;
$black: #000000;
$background-color: #FAFAFA;

nav.navigation {
  position: sticky;
  top: 0;

  background: $background-color;
  border-bottom: 1px solid var(--light-gray, #E6E6E6);
  z-index: 90;

  div.navigation_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;

    div.logo {
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;

      img {
        height: 36px;
      }

      h2 {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Athiti', sans-serif;
        color: black;
        margin: 0;
      }
    }

    div.auth_layout {
      display: flex;
      gap: 12px;
      align-items: center;

      button {
        display: initial;
        height: auto;

        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  div.navigation_shortcuts {
    display: inline-block;
    padding: 0 20px 0 64px;
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        box-sizing: content-box;
        padding: 4px 0 14px 0;

        &.selected {
          //border-bottom: 2px solid $primary-color;
          padding: 4px 0 13px 0;
          margin-bottom: -1px;
        }

        a {
          padding: 4px 20px 14px 20px;
          color: var(--gray, #666666);
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;

          &:hover, &.selected, &:active {
            font-weight: 700;
            color: $primary-color;
          }
        }
      }
    }

    div.nav_underline {
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      background: $primary-color;
      width: 0;
      transform: translateY(-2px);
      transition: width 0.3s, transform 0.3s;
    }
  }
}

nav.admin {
  display: flex;
  div.navigation_flex {
    gap: 8px;
    cursor: pointer;
  }

  div.navigation_shortcuts {
    display: flex;
    padding: 0 20px;

    ul > li {
      padding: 4px 2px;
      &.selected {
        padding: 18px 2px;
      }
    }
  }
}

div.dialog_background.nav_dialog_background {
  background: transparent;

  div.dialog {
    top: 60px;
    right: 16px;
    left: initial;
    transform: initial;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    display: flex;
    flex-flow: column;
    min-width: 240px;
    padding: 0;
    gap: 8px;

    h2 {
      font-size: 18px;
      text-align: center;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        width: 100%;

        & > * {
          padding: 12px 16px;
          font-size: 14px;
          color: $gray;
        }
        button {
          background: none;
          border-radius: 0;
          border: none;
          height: auto;
          font-weight: 400;
          width: 100%;
          justify-content: flex-start;

          &:hover, &:focus, &:active {
            background: $light-gray;
            color: $black;
            outline: none;
          }
        }
      }

      span {
        display: block;
        text-align: left;
        padding-bottom: 8px;
        border-bottom: 1px solid $light-gray;
      }
    }
  }
}

div.toast_box {
  position: absolute;
  top: 10px;
  left: 180px;
  right: 180px;

  max-width: 800px;
  margin: 0 auto;
  z-index: 120;

  p {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    font-weight: 600;
    max-width: 100%;
    border-radius: 6px;

    padding: 8px;
    margin: 0;
    opacity: 1;

    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;


    color: rgb(13, 60, 97);
    background: rgb(230, 238, 255);

    &.closed {
      transform: translateY(-200%);
    }

    &.error {
      color: $primary-color;
      background: #C3002F22;
    }
  }
}