div.macro_dialog_body {
  & > div {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    & > * {
      flex: auto;
    }
  }
  img.captcha {
    height: 52px;
  }

  div.header_flex {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

div.apply_dialog_body {
  div {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
    padding: 24px;
  }
  img {
    height: 80px;
  }
}

div.finish_dialog {
  p {
    text-align: center;
    margin: 4px;
  }
  h2 {
    text-align: center;
  }
}