div.macro_dialog_body {
  & > div {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    & > * {
      flex: auto;
    }
  }

  h3 {
    margin: 4px 0;
    font-size: 16px;
  }

  img.captcha {
    height: 50px;
  }

  div.header_flex {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

div.apply_dialog_body {
  div {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
    padding: 24px;
  }
  img {
    height: 80px;
  }
}

div.finish_dialog {
  p {
    text-align: center;
    margin: 4px;
  }
  h2.timer {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 52px;
    margin: 4px;
  }
}