$primary-color: #C3002F;
$primary-color-hover: #9F151A;
$light-gray: #E6E6E6;
$gray: #666666;
$black: #000000;
$background-color: #FAFAFA;

div.login_page {
  align-items: center;
  justify-content: center;
  height: max(calc(100vh - 240px), 400px);

  div.login_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    min-width: 320px;
    gap: 12px;

    & > * {
      width: 100%;
    }

    h1 {
      margin: 0 0 20px;
      text-align: center;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }

  div.auth_input_layout {
    position: relative;

    input[type="text"], input[type="password"] {
      width: 100%;
    }

    span {
      position: absolute;
      transform: translate(-150%, 50%);
      font-weight: 600;
      color: $primary-color;

      &.disabled {
        color: $gray;
      }
    }
  }

  div.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  div.error_box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    font-weight: 600;
    color: $primary-color;
    max-width: 100%;
    background:#C3002F22;
    padding: 16px;
    border-radius: 6px;
  }

  p.message_box {
    box-sizing: border-box;
    text-align: center;
    padding: 16px;
    color: rgb(13, 60, 97);
    background: rgb(230, 238, 255);
    border-radius: 6px;
    font-weight: 600;
  }
}